@import "tailwindcss";

@theme {
  --color-signup-eye: #103345;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  box-shadow: none !important;
  background: transparent;
  width: 0px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: none !important;
  width: 0px;
}
